.footer-bar {
	background-color: black;
	color:white;
}

.footer-bar hr {
	border-color: white;
}

a {
	color: white;
}

a:hover {
	color:gray;
}

.my-hr-line {
    position: relative;
    left: -15px;
    height: 2px;
		border: 1px solid grey;
}

