#booking-form {
	border-style: outset;
	padding: 30px 10px;
	margin: 20px;
}
label {
	padding: 5px 5px;
}

input, select {
	display: flex;
	margin:0px 5px;
	padding: 0px 10px;
	border-radius: 1rem;
	border-width: 2px;
	border-color: whitesmoke;
}