
li {
	list-style-type: none;
}

select, input {
 width:100%;
 margin: 10px;
 border:1px;
 background-color: rgb(224, 224, 224);
 border-radius: 2rem;
}

input[type="text"]{
	padding-left: 15px;
}

input, select :focus{
	outline: none;
}

input[type="submit"]{
	width: auto;
	background-color:rgb(224, 224, 224) ;
	color: black;
	margin-top: 10px;
	}

input[type="submit"]:hover{
	background-color: black;
	color: rgb(224, 224, 224);
}