.btn {
	background: none;
	font-size: 17px;
	font-family: sans-serif;
	cursor: pointer;
	margin: 0px 10px;
	transition: 0.8s;
	color:#fff;
	border-radius: 2rem;
	border: 1px ridge white;
}
.btn:hover {
	color:gray !important;
	background-color:white;
}

#nav a {
	color:white;
}

#nav a:hover{
	color:gray;
}